
.signup {
    max-width: 400px; /* Set a maximum width to the signup form */
    width: 100%;
    background: #F4DB7D;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: 0 auto; /* Center the form horizontally */
}

.signup > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%; /* Make the input fields full width */
    font-size: 1rem;
}

.signup > .button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 100%; /* Make the button full width */
}


/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
    .signup {
        width: 100%; /* Make the signup form full width */
        margin: 0 auto; /* Center the form horizontally */
    }
    
    .signup > input {
        width: 100%; /* Make the input fields full width */
    }
    
    .signup > .button {
        width: 100%; /* Make the button full width */
    }
}
